<section class="mb-5">

    <h1 class="display-4">Olá, bem-vindo!</h1>
    <p class="lead">
        Lorem ipsum bibendum condimentum, nisi. Lorem ipsum bibendum condimentum, nisi.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum bibendum condimentum, nisi. Lorem ipsum bibendum condimentum, nisi.
    </p>
    <a class="btn btn-primary btn-lg mt-3" href="#" role="button">Crie uma conta</a>

</section>

<hr>

<section>
    <h2 class="mb-4">Postagens recentes</h2>

    {{#each postagens}}
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="mb-0">{{titulo}}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{descricao}}</p>
        </div>
    </div>
    {{else}}
    <div class="alert alert-info" role="alert">
        Nenhuma postagem encontrada!
    </div>
    {{/each}}
</section>