<form action="/add" method="post">
    <p>Título:</p>
    <input type="text" name="titulo" id="">
    <p>Conteúdo:</p>
    <textarea name="conteudo" id=""></textarea>
    <br><br>
    <button type="submit">Cadastrar postagem</button>
</form>
<br>
<a href="/"><button>Voltar</button></a>