<form action="/add" method="post">
    <label>Título</label>
    <input type="text" name="titulo" id="">
    <label>Conteúdo</label>
    <textarea name="conteudo" id=""></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>