<h1>Lista de posts</h1>

<a href="/cadastro"><button>Cadastrar Post</button></a>
<hr>

{{#each posts}}
    <small>{{createdAt}}</small>
    <h2>{{titulo}}</h2>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}