{{#each erros}}
<div class="alert alert-danger" role="alert">{{texto}}</div>
{{else}}

{{/each}}

<h2>Nova categoria:</h2>

<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="post">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome da categoria" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Slug: </label>
                <input type="text" name="slug" id="slug" placeholder="Slug da categoria" class="form-control" pattern="[a-z\s]+$" required>
            </div>
            <button type="submit" class="btn btn-success">Criar categoria</button>
        </form>
    </div>
</div>