
    <h1 class="fw-bold mb-4">Categorias</h1>
    <hr>

    {{#each categorias}}
    <div class="mb-3 p-3 border rounded shadow-sm bg-light">
        <a href="/categorias/{{slug}}"><h4 class="mb-0">{{nome}}</h4></a>
    </div>
    {{else}}
    <div class="alert alert-warning">
        Nenhuma categoria encontrada.
    </div>
    {{/each}}
